
<div class="jumbotron">
      <h1 class="display-4">Bienvenue sur The Eventbrite!</h1>
      <p class="lead">Tu trouveras ci-dessous la liste de tous les events, n'hésite pas à intéragir avec.<br/> Et si jamais tu veux créer ton propre event <a href="<%=new_event_path%>" target = blank>clique ici</a></p>
</div>

    <h2> Les Evènements: </h2>


<div class = "d-inline-flex flex-wrap justify-content-around align-self-stretch">
<%
@all_event_array.each do |event| %>
<div class="card m-3" style="width: 18rem;">
  <div class="card-body ">
<h5 class="card-title"> <%= event.title %></h5>
<% author_name = event.find_author_name%>
<h6> de: <%= author_name %> </h6>
<p class="card-text"> <%= event.description%></p> 
<a class="btn btn-light" href="<%=event_path(event.id)%>" role="button">Voir les détails de l'évènement</a>

  </div>
</div>

<% end %>
</div>
